<tr>
    <td>
	<b><% name %></b>
    </td>
    <td>
	<% salary %>
    </td>
    <td>
	<% date %>
    </td>
    <td>
	<% city %>
	<% if( country ) %>
	<% end %>
    </td>
    <td>
	<a href="/vacancy/<% id %>">подробнее...</a>
    </td>
<% if(user_type == 15) %>
    <td>
	<a href="/delete/<% id %>">удалить</a>
    </td>
<% end %>
</tr>