<h2>Введите пароль</h2>

<form method="POST">Пароль:<input type="password" name="password"><input type="submit"></form>
<br>

<font color="red">Ахтунг! Все базы будут обновлены. Информация будет утеряна.
Логин/пароль админа будут следующими: admin@localhost/admin
</font>